@import url('https://fonts.googleapis.com/css?family=Metal Mania|Roboto');
body {
  margin: 0;
  background-color: #f0ffff;
} /* this is the main info for background and a font I like outside of the default/standard browser stuff */

/* font setup for no tag texts and various elements*/
html, h1, h2, h3, h4, h5, p {
  font-family: Roboto, sans-serif;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
p {
  font-size: 16px;
} 
h6 {
  font-size: 0px;
  text-align: center;
}
 /* link color setup */
a:link,
a:visited {
  color: #474747;
  text-decoration: none;
}
a:hover,
a:active {
  color: #a9a9a9;
  text-decoration: none;
}
/* font setup for no tag texts and various elements*/

/* main text in container */
main > div {
  border: 3px solid #668284;
  padding: 10px;
  background-color: #B9D7D9;
}
main > div > section > h3
main > div > section > h2,
main > div > section > h1,
main > div > section > ul,
main > div > section > ol,
main > div > section > p {
  color: #474747;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  list-style-position: inside;
}
main > div > section > h3, 
main > div > section > h2,
main > div > section > h1 {
  text-align: center;
} 
main > div > section > h3 {
  font-size: 18px;
}
main > div > section > h2 {
  font-size: 22px;
}
main > div > section > h1 {
  font-size: 30px;
}
main > div > section h4,
main > div > section a {
  font-family: Roboto, sans-serif;
  text-align: right;
  text-decoration: underline;
}
/* main text in container */

/* header with navigation in a container */
header > div > p,
header > div > h2,
header > div > h1 {
  color: #000000;
  text-align: center;
  margin: auto;
}
header > div > h2
header > div > p {
  padding: 10px;
  font-family: Roboto, sans-serif;
}
header > div > h2 {
  font-size: 22px;
}
header > div > h1 {
  font-size: 70px;
  font-family: 'Metal Mania', cusive;
  text-shadow: 4px 4px 4px #aaa;
}

header > div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section > div > nav {
/* margin: top right bottom left */
  margin: auto;
  text-align: center;
}
section > div > nav > a {
  padding: 10px 10px 10px 10px;
  text-decoration: underline;
/* padding top right bottom left */
}
header > div > nav {
/* margin: top right bottom left */
  margin: auto;
  text-align: center;
}
header > div > nav > a {
  padding: 10px 10px 10px 10px;
  text-decoration: underline;
/* padding top right bottom left */
}

nav,
div,
footer {
  width: 500px;
  margin: auto;
}
/* header with navigation in a container */

/* footer section in a container */
/* Tri- column advice: */
/* https://stackoverflow.com/questions/462931/css-layout-help-3-column-footer */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:first-child */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:last-child */
#footer > p:first-child {
  color: #668284;
  font-size: 12px;
  float: left;
  text-align: left;
  width: 33.3%;
}
#footer > p:nth-child(2) {
  color: #668284;
  font-size: 12px;
  float: left;
  text-align: center;
  width: 33.4%;
}
#footer > p:last-child {
  color: #668284;
  font-size: 12px;
  float: right;
  text-align: right;
  width: 33.3%;
}
/* footer section in a container */