@import url('https://fonts.googleapis.com/css?family=Metal Mania|Roboto');
body {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f0ffff;

} /* this is the main info for background and a font I like outside of the default/standard browser stuff */

/* font setup for no tag texts and various elements*/


html, h1, h2, h3, h4, h5, h6, p {
  font-family: Roboto, sans-serif;
}
h1 {
  font-size: 30px;
  text-align: center;
}
h2 {
  font-size: 22px;
  text-align: center;
}
h3 {
  font-size: 14px;
}
p {
  font-size: 16px;
} 
h6 {
  font-size: 0px;
}
 /* link color setup */
a:link,
a:visited {
  color: #474747;
  text-decoration: none;
}
a:hover,
a:active {
  color: #a9a9a9;
  text-decoration: none;
}
/* font setup for no tag texts and various elements*/

/* main text in container */
/* old main container */
/* main { */
/*  border: 3px solid #668284; */
/*  padding: 10px; */
/*  background-color: #B9D7D9; */
/* } */
main > section > h2,
main > section > h1,
main > section > ul,
main > section > ol,
main > section > p {
  color: #474747;
  margin: 0px 50px 0px 50px;
  /* margin: top right bottom left */
  padding: 10px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  list-style-position: inside;
} 
main > section > h2,
main > section > h1 {
  text-align: center;
} 
main > section > h3 {
  font-size: 14px;
  color: #474747;
}
main > section > h2 {
  font-size: 22px;
}
main > section > h1 {
  font-size: 30px;
}
main > section h3,
main > section a {
  font-family: Roboto, sans-serif;
  text-align: right;
  text-decoration: underline;
}
/* main text in container */

/* header with navigation */
header > p,
header > h2,
header > h1 {
  color: #000000;
  text-align: center;
  margin: auto;
}
header > h2
header > p {
  padding: 10px;
  font-family: Roboto, sans-serif;
}
header > h2 {
  font-size: 22px;
}
header > h1 {
  font-size: 90px;
  font-family: 'Metal Mania', cusive;
  text-shadow: 4px 4px 4px #aaa;
}

header > img {
  display: block;
  max-width: 80%;
  height: auto;
  width: auto\9; /* IE8 fix */
  margin-left: auto;
  margin-right: auto;
}

section > hr {
  width: 500px
}
/* padding top right bottom left */
nav > hr {
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}
header > nav,
section > nav,
header > nav > a,
section > nav > a {
/* margin: top right bottom left */
  margin: 0px 0px 0px 0px;
  padding: 0px 20px 0px 20px;
  text-align: center;
}


/* footer section */
footer {
  margin: 0px 20px 0px 20px;
}
/* Tri- column advice: */
/* https://stackoverflow.com/questions/462931/css-layout-help-3-column-footer */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:first-child */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:last-child */
#footer > p:first-child {
  color: #668284;
  font-size: 12px;
  float: left;
  text-align: left;
  width: 33.3%;
}
#footer > p:nth-child(2) {
  color: #668284;
  font-size: 12px;
  float: left;
  text-align: center;
  width: 33.4%;
}
#footer > p:last-child {
  color: #668284;
  font-size: 12px;
  float: right;
  text-align: right;
  width: 33.3%;
}
/* footer section in a container */
